<section class="p-3">
  <div class="w-100 my-3" fxLayout fxLayoutAlign="center center">
    <mat-form-field>
      <input
        matInput
        type="search"
        placeholder="Ingrese un producto de interes"
        class="search-input"
        [(ngModel)]="searchText"
        (keyup.enter)="findProducts()"
      >
      <button matSuffix mat-icon-button aria-label="Search icon-button" (click)="findProducts()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <app-product-list [products]="products"></app-product-list>
</section>
