<mat-toolbar color="primary">
  <div fxLayout class="w-100" fxLayoutAlign="start center">
    <span class="mr-3">Mercado libre</span>
    <ng-container *ngFor="let category of categories">
      <button class="ml-3" mat-button (click)="redirect(category.path)">
        {{ category.name }}
      </button>
    </ng-container>
    <span fxFlex></span>
    <h1>{{ userName | async}}</h1>
    <button
      mat-icon-button
      aria-label="User config icon-button"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>


<mat-menu #menu="matMenu" class="ta-task-menu">
  <button mat-menu-item>Perfil</button>
  <button mat-menu-item (click)="redirect('')">Cerrar sesión</button>
</mat-menu>
