$earls-green: #BED23C;
$silver-chalice: #A8A8A8;
$cerulean: #00ADEE;
$wild-sand: #F5F5F5;
$error-label: #FF0100;
$white: #FFFFFF;
$silver: #CCCCCC;
$dove-gray: #666666;
$alert-error: #F2DFDE;
$wild-sand-solid: #F4F4F4;
$gray: #828282;
$withe: #FFF;
$silver: #C8C8C8;
$atlantis: #A5CD39;
$gray-opacity: #00000080;