@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';


.input-form {
  height: 40px;
  width: $content-width;
  max-width: 100%;
  width: 300px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
}

.form-button {
  background-color: $cerulean;
  border: 2px solid $cerulean;
  color: $white;
  font-size: 16px;
  height: 40px;
  transition: all 300ms;
  width: 25px;

  &:hover {
    background-color: $wild-sand;
    color: $cerulean;
  }
}

.submit-button {
  position: relative;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
}